*{
    padding: 0;
    margin: 0;
}
.titulo {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}
.descriptions p{
    font-size: 16px;
}
.topico{
    margin: 20px 15px 0 15px;
}
.topico p{
    padding-right: 50px;
    margin: 20px 0 20px 100px;
    font-size: 20px;
    text-align: right;
}
.barra{
    height: 25px;
    display: flex;
}
.minibarra{
    height: 5px;
    display: flex;
    margin: 0;
}
.filho1{
    width: 10vw;
    display: inline-block;
    color: black;
    background-color: black;
}
.filho2{
    width: 05vw;
    display: inline-block;
    color: #29a8a6;
    background-color: #29a8a6;
}
.filho3{
    width: 100vw;
    display: inline-block;
    color: black;
    background-color: black;
}
.networks{
    text-align: center;
}