*{
    padding: 0;
    margin: 0;
}
.titulo {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.networks{
    text-align: center;
}
.networks img{
    width: 25px;
}

.topico{
    margin: 20px 15px 0 15px;
}


.summary p{
    padding-right: 50px;
    margin: 20px 0 60px 100px;
    font-size: 20px;
    text-align: start;
}


.project p{
    padding-right: 50px;
    margin: 20px 0 20px 100px;
    font-size: 20px;
    text-align: right;
}


.skills img{
    width: 150px;
    padding-right: 0;
}


.experience dl{
    padding-right: 50px;
    margin: 20px 0 30px 100px;
    font-size: 20px;
    text-align: initial;
}


p.pendente{
    color: darkgrey;
}
.barra{
    height: 25px;
    display: flex;
}
.minibarra{
    height: 5px;
    display: flex;
    margin: 0;
}
.filho1{
    width: 10vw;
    display: inline-block;
    color: black;
    background-color: black;
    padding: 0 0 5px 0;
    margin: 0;
}
.filho2{
    width: 05vw;
    display: inline-block;
    color: #29a8a6;
    background-color: #29a8a6;
    padding: 0 0 5px 0;
    margin: 0;
}
.filho3{
    width: 100vw;
    display: inline-block;
    color: black;
    background-color: black;
    padding: 0 0 5px 0;
    margin: 0;
}